<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="system/sbi/include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${sbi.id}"  type="hidden">
							<!--<div class="form-group">
								<label class="col-sm-3 control-label">项目编号：</label>
								<div class="col-sm-8">
									<input id="pmid" name="pmid" th:value="${sbi.pmid}" class="form-control" type="text">
								</div>
							</div>-->
														<div class="form-group">	
								<label class="col-sm-3 control-label"><span style="color: red">*</span>项目：</label>
								<div class="col-sm-8">
									<input id="pm" name="pm" th:value="${sbi.pm}" class="form-control" type="text" readonly maxlength="100">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label"><span style="color: red">*</span>工作类型：</label>
								<div class="col-sm-8">
									<input id="worktype" name="worktype" th:value="${sbi.worktype}" class="form-control" type="text" readonly maxlength="100">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label"><span style="color: red">*</span>税前金额：</label>
								<div class="col-sm-8">
									<input id="pretax" name="pretax" th:value="${sbi.pretax}" class="form-control" type="text" onkeyup="clearNoNum(this)"
										   maxlength="20">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label"><span style="color: red">*</span>税后金额：</label>
								<div class="col-sm-8">
									<input id="posttax" name="posttax" th:value="${sbi.posttax}" class="form-control" type="text" onkeyup="clearNoNum(this)"
										   maxlength="20">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label"><span style="color: red">*</span>税收金额：</label>
								<div class="col-sm-8">
									<input id="tax" name="tax" th:value="${sbi.tax}" class="form-control" type="text" onkeyup="clearNoNum(this)"
										   maxlength="20">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label"><span style="color: red">*</span>客户名称：</label>
								<div class="col-sm-8">
									<input id="customer" name="customer" th:value="${sbi.customer}" class="form-control" type="text" readonly
										   maxlength="50">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">开票时间：</label>
								<div class="col-sm-8">
									<input id="ticketdate" name="ticketdate" th:value="${sbi.ticketdate}==null?null:${#dates.format(sbi.ticketdate,'yyyy-MM-dd HH:mm:ss')}"
										   class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">发票号：</label>
								<div class="col-sm-8">
									<input id="invoicenumber" name="invoicenumber" th:value="${sbi.invoicenumber}" class="form-control" type="text"
										   onkeyup="this.value=this.value.replace(/[^\d]/g,'');" maxlength="8">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label"><span style="color: red">*</span>SBI号：</label>
								<div class="col-sm-8">
									<input id="sbi" name="sbi" th:value="${sbi.sbi}" class="form-control" type="text" maxlength="50" readonly>
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label"><span style="color: red">*</span>生成日期：</label>
								<div class="col-sm-8">
									<input id="reseve1" name="reseve1" th:value="${sbi.reseve1}==null?null:${#dates.format(sbi.reseve1,'yyyy-MM-dd')}"
										   class="form-control" type="text" >
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">导入时间：</label>
								<div class="col-sm-8">
									<input id="createtime" name="createtime" th:value="${sbi.createtime}==null?null:${#dates.format(sbi.createtime,'yyyy-MM-dd HH:mm:ss')}"class="form-control" type="text" readonly>
								</div>
							</div>
														<!--<div class="form-group">
								<label class="col-sm-3 control-label">预留2：</label>
								<div class="col-sm-8">
									<input id="reseve2" name="reseve2" th:value="${sbi.reseve2}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">预留3：</label>
								<div class="col-sm-8">
									<input id="reseve3" name="reseve3" th:value="${sbi.reseve3}" class="form-control" type="text">
								</div>
							</div>-->
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="system/sbi/include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/sbi/edit.js">
	</script>
</body>
</html>
