<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="system/sbi/include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12" style="margin-top: -15px;">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="system:sbi:add" type="button" class="btn  btn-primary input-sm fims-padding-sm-14" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="system:sbi:import" type="button" class="btn  btn-success input-sm fims-padding-sm-14"
									onclick="openExcelupload()">
								<i class="fa fa-download" aria-hidden="true"></i>导入
							</button>
							<button shiro:hasPermission="system:sbi:export" type="button" class="btn  btn-info input-sm fims-padding-sm-14"
									onclick="sbiexport()">
								<i class="fa fa-upload" aria-hidden="true"></i>导出
							</button>
							<button shiro:hasPermission="system:sbi:export" type="button" class="btn  btn-info input-sm fims-padding-sm-14"
									onclick="sbiexportdetail()" title="导出包含PO信息的SBI数据">
								<i class="fa fa-upload" aria-hidden="true"></i>导出详细
							</button>
							<button shiro:hasPermission="system:sbi:batchRemove" type="button" class="btn  btn-danger input-sm fims-padding-sm-14"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div class="columns pull-right searchmaTop searchmaLeft">
							<button class="btn btn-success input-sm fims-padding-sm-14" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding searchmaLeft">
							<input id="searchName" type="text" class="form-control input-sm fims-padding-sm-14"
								placeholder="请输入搜索内容"  style="margin-top: 4px;font-size: 14px;">
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="searchtime" name="searchtime" class="form-control input-sm fims-padding-sm-14" type="text"
								   placeholder="请选择时间段"  style="margin-top: 4px;font-size: 14px;" >
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自caocao的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="system:sbi:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:sbi:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:sbi:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="system/sbi/include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/system/sbi/sbi.js"></script>
</body>
</html>