<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="system/role/include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-xs-5">
                    <label>未选择</label>
                </div>

                <div class="col-xs-2">

                </div>

                <div class="col-xs-5">
                    <label>已选择</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    <select name="from"  id="multiselect" class="form-control" size="13" multiple="multiple">
                        <option th:each="role:${noselect}" th:value="${role.roleId}" th:text="${role.roleName}"></option>
                    </select>
                </div>

                <div class="col-xs-2" style="margin-top: 50px;">
                    <button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                    <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                    <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                    <button type="button" id="multiselect_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                </div>

                <div class="col-xs-5">
                    <select name="to" id="multiselect_to" class="form-control" size="13" multiple="multiple">
                        <option th:each="role:${select}" th:value="${role.roleId}" th:text="${role.roleName}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group " style="margin-top: 10px;">
                <div class="col-xs-5">

                </div>
                <div class="col-xs-2">
                    <button type="submit" onclick="loadRole()" class="btn btn-primary">提交</button>
                </div>
            </div>
            <input type="hidden" th:value="${userId}" id="userId">
        </div>
    </div>
</div>
<div th:include="system/role/include :: footer"></div>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#multiselect').multiselect();
    });
    function loadRole () {
        var values1 = "";
        $("#multiselect_to option").each(function(){
            //遍历所有option
            var value = $(this).val();   //获取option值
            var text = $(this).text();
            if(text!=''){
                values1+=value+",";
            }
        });
        $.ajax({
            url : "/sys/user/saveUserRole",
            type : "post",
            data : {
                'id' : $("#userId").val(),
                'roles' : values1
            },
            success : function(r) {
                if (r.code == 0) {
                    layer.msg(r.msg);
                    var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                    parent.showOK();
                    parent.layer.close(index);
                } else {
                    layer.msg(r.msg);
                }
            }
        });
    }
</script>
</body>
</html>
