<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${socialsecurity.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">员工：</label>
								<div class="col-sm-8">
									<input id="userId" name="userId" th:value="${socialsecurity.userId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">养老金：</label>
								<div class="col-sm-8">
									<input id="pension" name="pension" th:value="${socialsecurity.pension}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">医疗保险：</label>
								<div class="col-sm-8">
									<input id="medical" name="medical" th:value="${socialsecurity.medical}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">失业保险：</label>
								<div class="col-sm-8">
									<input id="unemployment" name="unemployment" th:value="${socialsecurity.unemployment}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">三金合计：</label>
								<div class="col-sm-8">
									<input id="pmuTotal" name="pmuTotal" th:value="${socialsecurity.pmuTotal}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">大病保险：</label>
								<div class="col-sm-8">
									<input id="serious" name="serious" th:value="${socialsecurity.serious}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">公积金：</label>
								<div class="col-sm-8">
									<input id="provident" name="provident" th:value="${socialsecurity.provident}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">合计：</label>
								<div class="col-sm-8">
									<input id="total" name="total" th:value="${socialsecurity.total}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">社保类型：</label>
								<div class="col-sm-8">
									<input id="type" name="type" th:value="${socialsecurity.type}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">社保缴纳地：</label>
								<div class="col-sm-8">
									<input id="payland" name="payland" th:value="${socialsecurity.payland}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">社保卡号：</label>
								<div class="col-sm-8">
									<input id="idnumber" name="idnumber" th:value="${socialsecurity.idnumber}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">代缴公司：</label>
								<div class="col-sm-8">
									<input id="paycompany" name="paycompany" th:value="${socialsecurity.paycompany}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">缴纳金额：</label>
								<div class="col-sm-8">
									<input id="pay" name="pay" th:value="${socialsecurity.pay}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">津贴发放：</label>
								<div class="col-sm-8">
									<input id="allowance" name="allowance" th:value="${socialsecurity.allowance}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">预留1：</label>
								<div class="col-sm-8">
									<input id="reseve1" name="reseve1" th:value="${socialsecurity.reseve1}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">预留2：</label>
								<div class="col-sm-8">
									<input id="reseve2" name="reseve2" th:value="${socialsecurity.reseve2}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">预留3：</label>
								<div class="col-sm-8">
									<input id="reseve3" name="reseve3" th:value="${socialsecurity.reseve3}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/socialsecurity/edit.js">
	</script>
</body>
</html>
