<head th:fragment="header">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">
    <title>Title</title>
    <!-- head 中 -->
    <link rel="stylesheet" href="/css/plugins/weui/weui.css">
    <link rel="stylesheet" href="/css/plugins/weui/jquery-weui.css">
</head>
<div th:fragment="footer">
    <!-- body 最后 -->
    <script src="/js/jquery.min.js?v=2.1.4"></script>
    <script src="/js/plugins/weui/fastclick.js"></script>
    <script src="/js/plugins/weui/jquery-weui.js"></script>
</div>
