<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<link href="/css/layui.css" rel="stylesheet">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row" style="margin-top: -15px;">
			<!--<div class="col-sm-3" style="margin-top: 13px;">
				<div class="ibox ibox-body">
					<div class="ibox-title">
						<h5>选择机构</h5>
					</div>
					<div class="ibox-content" style="height:300px;width: 100%; overflow:auto">
						<div id="jstree"></div>
					</div>
				</div>
			</div>-->
			<div class="col-sm-12">
				<div class="ibox">
					<div class="ibox-body">
						<div class="fixed-table-toolbar">
							<div class="columns pull-left">
								<button shiro:hasPermission="sys:user:add" type="button"
									class="btn  btn-primary input-sm fims-padding-sm-14" onclick="add()">
									<i class="fa fa-plus" aria-hidden="true"></i>添加
								</button>
								<!--<button shiro:hasPermission="sys:user:batchRemove" type="button"-->
									<!--class="btn  btn-danger" onclick="batchRemove()">-->
									<!--<i class="fa fa-trash hidden" aria-hidden="true"></i>删除-->
								<!--</button>-->
							</div>
							<div class="columns pull-right searchmaTop searchmaLeft">
								<button class="btn btn-success  input-sm fims-padding-sm-14" onclick="reLoad()">查询</button>
							</div>

							<div class="columns pull-right col-md-2 nopadding searchmaLeft">
								<input id="searchName" type="text" class="form-control input-sm fims-padding-sm-14"
									placeholder="姓名" style="margin-top: 4px;font-size: 14px;">
							</div>
							<div class="columns pull-right col-md-2 nopadding ">
								<input id="deptId" name="deptId" class="hidden" value="">
								<input id="depart" type="text" class="form-control input-sm fims-padding-sm-14" onclick="openDept()"
									   placeholder="请选择机构" style="margin-top: 4px;font-size: 14px;" readonly>
							</div>

						</div>
						<table id="exampleTable" data-mobile-responsive="true">
						</table>
					</div>
				</div>
			</div>
		</div>
		<!--shiro控制bootstraptable行内按钮看见性 来自caocao的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="sys:user:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="sys:user:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="sys:user:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script src="/js/layui.js"></script>
	<script type="text/javascript" src="/js/appjs/sys/user/user.js"></script>
</body>
</html>